* {
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;

}
:root {
    --colorBlanco: #fff;
     --fondo: #f0f0f6;
     --negro: black;
     --gris: #44566c;
     --darkcyan: darkcyan;
     --turqueza: darkturquoise;
     --red: red;
   }
/*selector para generar reglas, define variables o funciones*/
html, body {
    min-width: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    width: 90%;
    height: 90%;
    background-color: rgb(238, 244, 247);
    background-image: url(/MEDIA/triangles-top.svg), url(/MEDIA/triangles-bottom.svg);
    background-size: 20%;
    background-position: left top, right bottom;
    font-weight: 400;
    background-repeat: no-repeat;
    padding-top: 140px;
    color: var(--gris);
   /* color: #44566C;*/


}
/*
.por_clase{
    color: var(--colortexto);

}
#por_id{
    color: brown;
}

.phone::before{
    content:'\260E';
}

.phone::after{
    content:'\260E';
}
.btn{
    background-color: darkturquoise;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 0.5rem 1rem rgba(48, 76, 253, 0.15), 0 0.125rem 0.25rem rgba(48, 76, 253, 0.15);
    color: #d0ccccef;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    padding: 0.9375rem 2rem 0.875rem;
    position: relative;
    transition: .4s ease-in-out;
    white-space: nowrap;
}
.btn:hover{
background-color: turquoise;
}

    .portfolio{
        column-count: 3;
        column-gap: 10px;
        row-gap: 12px;
    }
     .portfolio img{
        max-width: 100%;
     }

     .modal{
        position: fixed;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 40px 20px;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 999;
        display: none;
        text-align: center;
     }
     
     .modal img{
        max-height: 100%;
        margin: auto;
     }

     .showModal{
        display: block;
        transition: 0.5s ease-in;
    }

 */  
    .main-content {
        display: flex;
        max-width: 1400px;
        margin: auto;
    }

    .profile{
        width: 310px;
        background-color: var(--colorBlanco);;
        border-radius: 20px;
        box-shadow: 0 2.5rem 3.125rem rgba(76, 153, 95, 0.1) !important;
        text-align: center;
        padding-top: 1.75rem;
        position: fixed;
    }
    
    .my-photo{
        border-radius: 8px;
        max-height: 11.25rem;
        max-width: 11.25rem;
        height: 11.25rem;
        width: 11.25rem;
        margin-top: -7rem;
        margin-bottom: 1.5625rem;
        margin-left:auto;
        margin-right: auto;
        transition: all .3s ease-in-out;
    }
    
    .title{
        margin-bottom: 0.875rem;
      
    }
    
    .badge-profile{
        background-color: var(--fondo);
        color: var(--negro);
        font-size: 0.9375rem;
        font-weight: 400;
        border-radius: 10rem;
        padding: 0.5rem 1rem;
        display: inline-block;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
    }
    
    .social{
        display: flex;
        margin: 1rem auto 1rem auto;
        justify-content: space-evenly;
        max-width: 200px;
    }

    .social i {
    color: var(--negro);
    font-size: 1.5rem;
    }

    .social i:hover {
        color: var(--red);
        transform:scale(2);
        transition:  0.3s ease;
    }
    
    .info {
        background-color: var(--fondo);
        padding-top: 2rem;
        padding-bottom: 2rem;
        position: relative;
        z-index: 0;
        /*Poner capas*/
        border-radius: 0 0 20px 20px;    
    }

    .contacts-block {
        text-align: left;
        list-style: none;
        padding: 1.875rem;
        margin-bottom: 0.5rem;
        overflow: hidden;
    }
    
    .contacts-block-item {
        display: flex;
        align-items: center;
        margin-bottom: 0.6875rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .contacts-block a {
        text-decoration: none;
        color: var(--gris);
    }


    .btn {
        text-decoration: none;
    background-color: var(--negro);
    border-radius: 30px;
    border: 0;
    box-shadow: 0 0.5rem 1rem rgba(48, 76, 253, 0.15), 0 0.125rem 0.25rem rgba(48, 76, 253, 0.15);
    color: var(--colorBlanco);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    padding: 0.9375rem 2rem 0.875rem;
    position: relative;
    transition: .4s ease-in-out;
    white-space: nowrap;
        
    }
    
    .btn:hover{
        background-color: var(--red);
    }
    
    .resume {
        background-color: var(--colorBlanco);
        border-radius: 20px;
        padding: 1.875rem;
        position: relative;
        transition: box-shadow .3s ease-in-out;
        box-shadow: 0 2.5rem 3.125rem rgba(103, 118, 128, 0.1) !important;
        width: 75%;
        margin-left: auto;
    }

    .menu-circle {
        background-color: var(--negro);
        border-radius: 50% 1.25rem 50% 50%;
        color: var(--colorBlanco);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.75rem;
        position: absolute;
        top: 0;
        right: 0;
        width: 3.75rem;
        z-index: 2;
    }

    .inner-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 3.75rem;
        padding-right: 2rem;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .js-menu {
        width: 80%;
    }

    .js-menu > .nav {
        list-style: none;
        display: flex;
        width: 0%;
        justify-content: space-evenly;
        background-color: var(--negro);
        height: 100%;
        align-items: center;
        border-radius: 1.5rem 0 0 1.5rem;
        transition: 0.5s ease-in-out;
        position: absolute;
        right: 32px;
    }

    .nav a {
        color: rgb(227, 228, 239);
        font-weight: 500;
        text-decoration: none;
        opacity: 0;
    }

    .js-menu.active>.nav {
        width: 70%;
    }
    
    .js-menu.active>.nav a {
        opacity: 1;
        transition: 0.7s ease-in-out;
    }
    
    .nav a:hover {
        /* text-decoration: underline;*/
         text-decoration: 4px solid underline var(--turqueza);
       font-size: 2rem;
      
     }
    
     /*
    .show{
        pointer-events: auto;
        opacity: 1;
        content:'\2639';
    }
    
    .cerrar::after {
    content:'\2639';
    } 
    */

    h2.title {
        color: var(--negro);
        font-size: 2rem;
        font-weight: 500;
        position: relative;
        margin-bottom: 2.5rem;
    }

    .bordered::before {
        content: '';
        background-color: var(--turqueza);
        border-radius: 0.5rem;
        height: 0.3125rem;
        position: absolute;
        bottom: -1rem;
        left: 0;
        width: 3.125rem;
        z-index: 1;
    }

    .services-content {
        border-top: 1px solid var(--negro);
        margin-top: 2rem;
        padding-top: 1rem;
    }

    .my-services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        row-gap: 2rem;
        margin-top: 1rem;
    }

    .my-services>div {
        align-items: center;
        background-color: var(--fondo);
        border-radius: 10px;
        display: flex;
        padding: 1.2rem 1rem;
    }

    .my-services>div span {
        color: var(--turqueza);
        font-size: 40px;
        margin-right: 1.2rem;
    }

    .my-services h3{
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    .my-services p {
        margin-bottom: 0;
    }

    .timeline-content {
        margin-top: 3rem;
    }

    .timeline-content>div {
        margin-top: 2rem;
        display: flex;
    }

    .timeline {
        margin-top: 1.8125rem;
        padding-left: 0.5rem;
    }

    .timeline_item {
        border-left-color: var(--fondo);
        border-left-width: 1px;
        border-left-style: solid;
        padding-bottom: 0.5625rem;
        padding-left: 1.375rem;
        position: relative;
    }

    .timeline_item::before {
        content: '';
        background-color: var(--turqueza);
        box-shadow: 0 0 0 0.1875rem rgba(48, 75, 253, 0.158);
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: -0.3125rem;
        height: 0.625rem;
        width: 0.625rem;
    }

    .timeline_title {
        margin-bottom: 0;
        position: relative;
        top: -0.3125rem;
    }

    .title--h5 {
        font-size: 1rem;
    }

    .timeline_period {
        color: #9ca6af;
        font-size: 0.875rem;
    }

    .timeline_description {
        margin-top: 0.5rem;
    }

    footer {
        padding: 2.5rem;
        text-align: center;
        font-size: 1.5rem;
    }

    @media(max-width:1400px){
        .main-content {
            max-width: 1100px;
        }

        .resume {
            width: 70%;
        }
    }

    @media(max-width:940px) {
        .main-content {
            max-width: 700px;
        }

        .resume{
            width: 55%;
        }

        .timeline-content {
            flex-direction: column;
        }
    }

    @media(max-width:768px) {
        body {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .main-content {
            max-width: 100%;
            flex-direction: column;
        }

        .profile {
            position: initial;
            width: 100%;
            margin-bottom: 2rem;
        }

        .resume {
            margin: unset;
            width: 100%;
        }
    }

    /* Nuevos ajustes para pantallas */
    @media (max-width: 450px) {
    .main-content {
        padding: 0.5rem;
    }

    .profile {
        margin-bottom: 1.5rem;
    }

    .resume {
        width: 100%;
    }

    .timeline-content {
        padding: 0.5rem;
    }
}

@media (max-width: 450px) {
    body {
        padding: 0.5rem;
    }

    .main-content {
        padding: 0.5rem;
    }

    .profile {
        margin-bottom: 1rem;
    }

    .resume {
        width: 100%;
    }

    .timeline-content {
        padding: 0.5rem;
    }
}

@media (max-width: 360px) {
    body {
        padding: 0.25rem;
    }

    .main-content {
        padding: 0.25rem;
    }

    .profile {
        margin-bottom: 0.5rem;
    }

    .resume {
        width: 100%;
    }

    .timeline-content {
        padding: 0.25rem;
    }
}

    .portfolio {
        column-count: 3;
        column-gap: 10;
        row-gap: 12px;
    }

    .portfolio img {
        max-width: 100%;
        cursor: pointer;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
    }

.modal img {
    max-width: 90%;
    max-height: 80%;
}

.modal.showModal {
    display: flex;
}

.close {
    display: flex;
    position: absolute;
    top: 30px;
    right: 60px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    color: red;
}



.contact_form {
    width: 100%;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 30px;
}


input {
    background-color: #fbfbfb;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #0f4571;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}


textarea {
    background-color: #fbfbfb;
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #0f4571;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
}


label {
    font-weight: 500;
    margin-bottom: 0.5rem;
}


button {
    text-decoration: none;
    background-color: #0f4571;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 0.5rem 1rem rgba(48, 76, 253, 0.15), 0 0.125rem 0.25rem rgba(48, 76, 253, 0.15);
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    padding: 0.9375rem 2rem 0.875rem;
    position: relative;
    transition: .4s ease-in-out;
    white-space: nowrap;
}

button:hover {
    background-color: darkcyan;
}

button p {
    font-weight: 500;
    margin-bottom: 0.5rem;
}


span {
    font-weight: 500;
    margin-bottom: 0.5rem;
}


.aviso {
    font-size: 13px;
    color: #0e0e0e;
}


h1 {
    font-size: 39px;
    text-align: letf;
    padding-bottom: 20px;
    color: var(--negro);
}


h3 {
    font-size: 16px;
    padding-bottom: 30px;
    color: #0e0e0e;
}


p {
    font-size: 14px;
    color: #0e0e0e;
}


form {
    display: flex;
  }
  
label {
    margin-right: 10px;
  }
  
input[type="text"] {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
input[type="submit"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }